<h2>Testing Page</h2>

<div>
  <p>You should only be seeing this page if you're testing stuff out. At the moment, we should only be using this page to test out how to use Mongo. </p>
</div>

<br>

<form action="/create" method="POST">
  <input type="text" name="tweet" placeholder="Tweet...">
  <input type="submit" value="Create Tweet">
</form>

<br>

<form action="/read" method="GET">
  <input type="submit" value="Read a Tweet">
</form>

<br>

<form action="/delete" method="POST">
  <input type="submit" value="Delete a Tweet">
</form>
